*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

main{
    font-size: 1.2rem;
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    margin: 2rem;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
}

div{
    display: flex;
    width: 21rem;
    justify-content: space-between;
}

button{
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
button:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h3{
    margin: 0.5rem;
    width: 10rem;
}

ul{
    display: flex;
    width: 28rem;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
}

li{
    display: flex;
    width: 3rem;
    height: 3rem;
    margin:0.5rem;
    justify-content: center;
    align-items: center;
}

ul:nth-of-type(2) > li{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.4rem;
    text-align: center;
    vertical-align: center;
}